<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Usuários</span>
      <span class="example-spacer"></span>
      <button (click)="logout()" class="logout-button">
        Logout
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div class="content">
  <table class="table">
    <tr>
      <th class="first-th">Id</th>
      <th>Nome</th>
      <th>Email</th>
      <th class="last-th"></th>
    </tr>

    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>
        <button mat-icon-button class="button">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</div>