<div class="login-container">
    <div class="card">
        <h1 class="login-title">Bem vindos ao <span class="span">Login</span></h1>
        <p class="subtitle">Preencha todos os dados para acessar</p>

        <div class="login-form">
            <mat-form-field class="mat-form" appearance="fill">
                <mat-label class="label">Email</mat-label>
                <input class="input" type="email" placeholder="Email">
                <br>
                <mat-label>Senha</mat-label>
                <input class="input" type="password" placeholder="Senha">
            </mat-form-field>
            <br>
        </div>

        <button class="button">Entrar</button>

        <p class="create-account">Ou crie sua conta clicando <a href=""><span class="link">aqui</span></a></p>
    </div>
</div>