.login-container {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 33rem;
    height: 30rem;

    padding: 1rem;

    border-radius: 10px;
    background-color: white;

    box-shadow: 0px 1px 20px  rgb(0, 0, 0, 0.25);
}

.login-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
}

.span {
    color: #0078F0;
}

.subtitle {
    font-size: 14px;
    color: #808080;
}

.login-form {

}

<<<<<<< HEAD:src/app/pages/login/login.component.css
.input {
    width: 100%;
=======
.mat-form {

>>>>>>> a7dfc77561a49205d228930a1b14a15164ee4368:src/app/views/login/login.component.css
}

.input {
    padding: 10px;
    margin-top: 1rem;
}
.button {
    width: 50%;

    padding: 1rem;

    border-radius: 5px;
    border: 0;

    color: white;
    background-color: #0078F0;
}

.button:hover {
    background-color: #82b4e6; 
}

.create-account {
    font-size: 14px;
}

a {
    color: #0078F0;
    text-decoration: none;
}
