<div class="login-container">
    <div class="card">
        <h1 class="login-title">Bem vindos ao <span class="span">Login</span></h1>
        <p class="subtitle">Preencha todos os dados para acessar</p>

        <form class="login-form">
            <mat-form-field class="input">
                <mat-label>Email</mat-label>
                <input type="email" placeholder="alex@email.com">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Email</mat-label>
                <input type="email" placeholder="alex@email.com">
            </mat-form-field>
        </form>

        <button class="button">Entrar</button>
    </div>
</div>